* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1A1D2B;
}

.captcha-container {
    max-width: 50%;
    min-width: 50%;
    background: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
}

.header {
    background: #037ae2;
    color: #fff;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    border-radius: 20px 20px 0 0;
    padding: 15px;
}

.securitycode {
    width: 100%;
    height: 250px;
    background: url("../img/blueBg.jpg");
    background-position: center;
    background-size: cover;
   
}

.securitycode p {
    text-align: center;
    line-height: 250px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 5vw;
    font-weight: bold;
    letter-spacing: 10px;
    user-select: none;
}

.securityCode .icons {
    position: absolute;
    bottom: 0;
    right: 10px;
}

.securityCode .icons .fas {
    font-size: 1.5rem;
    color: #fff;
    padding: 10px 5px;
    cursor: pointer;
    transition: 0.2s ease;
}

.securityCode .icons .fas:hover {
    color: #037AE2;
}

.userInput {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.userInput input {
    border-radius: 20px 0 0 20px;
    outline: none;
    border: 1px solid gray;
    border-right: none;
    padding: 12px;
    width: 60%;
    font-size: 1.2rem;
}

.btn {
    border: none;
    outline: none;
    background: #037AE2;
    padding: 12px;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
   
}

.btn:hover {
    background: #036cc9;
}








